@charset "utf-8";
#header{
	width:100%;
	height:40px;
	background-color:moccasin;
}
.machine {
    position: absolute; /*ボックスの配置方法(absoluteは絶対位置配置)*/
    top: auto; /*上からの距離(positionで指定している場合に適用)*/
    right: 450px; /*右からの距離(positionで指定している場合に適用)*/
    font-size:18px;
}
.area {
    position: absolute; /*ボックスの配置方法(absoluteは絶対位置配置)*/
    top: 0; /*上からの距離(positionで指定している場合に適用)*/
    right: 300px; /*右からの距離(positionで指定している場合に適用)*/
     font-size:18px;
}
.all {
    position: absolute; /*ボックスの配置方法(absoluteは絶対位置配置)*/
    top: 0; /*上からの距離(positionで指定している場合に適用)*/
    right: 150px; /*右からの距離(positionで指定している場合に適用)*/
     font-size:18px;
}
#navi{
	height:250px;
	margin-top:20px;

}
#footer{
	font-size:18px;
	margin-top:20px;
	width:100%;
	height:40px;
	text-align: center;
	background-color:moccasin;
}
